{% extends 'base.html.twig' %}

 {% block title %}Most popular produits{% endblock %}

{% block body %}

<h1>Liste de clients de produit </h1>
<table class="table table-striped">
<tr>
<th>Produit </th>
<th>Nombre de client commandé ce produit</th>
</tr>
{% for produit in produits %}
<tr><td>{{ produit.lib }}</td><td>{{ produit.qtes}}</td></tr>
{% endfor %}

</table>
{% endblock %}